<h1><%= @question.title %></h1>
<p><%= @question.content %></p>

<h1>Post your answer here</h1>
<form method="POST" action="/questions/<%= @question.id %>">
	<label for="answer-content"></label>
	<textarea rows="4" cols="50" placeholder="Your Answer Goes Here" id="answer-content" name="answer"></textarea><br>
	<input type="submit" value="Submit Your Answer">
</form>

<% @question.answers.each do |answer| %>
	<%= answer.content %>
	<br>
<% end %>
