<h1>Create a New Question</h1>
<form method="post" action="/questions/new">
	<fieldset>
		<label for="title">Question's Title</label><br>
		<input type="" name="question[title]" id="title" placeholder="Title">
	</fieldset>
	<fieldset>
		<label for="content">Question's Content</label><br>
		<input type="" name="question[content]" id="content" placeholder="Content">
	</fieldset>
	<input type="submit" value="Submit">
</form>